

body{
    background-color: rgb(60, 60, 60);
   
   color: azure;
   
}

h1{
    text-align: center;
}

.container{

   
    height: 750px;
     
}

.hanger{
    margin-left: 200px;
    stroke: aliceblue;
    stroke-width: 5px;
    fill: gray;
}

.man{
   /* display: none;*/    
}

#wrongWords{
    position: absolute;
    top: 150px;
    right: 500px;
}

.words{
    position: absolute;
    display: flex;
    top: 500px;
    right: 700px;
}

.letter{
    display: inline-flex;
    font-size: 50px;
    margin: 0 5px;
    border-bottom: 5px solid yellow;
    align-items: center;
}