

body{
    background-color: rgb(60, 60, 60);
   
   color: azure;
   
}

h1{
    text-align: center;
}

.hanger{
    margin-left: 200px;
    stroke: aliceblue;
    stroke-width: 5px;
    fill: gray;
}

.man{
    display: none;   
}

#wrongDiv{
    position: absolute;
    top: 150px;
    right: 500px;
}


#words{
    position: absolute;
    display: flex;
    top: 500px;
    right: 700px;
     
}

.letter{
    display: inline-flex;
    font-size: 50px;
    margin: 0 5px;
    border-bottom: 5px solid yellow;
    align-items: center;
    margin-top: 50px;
}

#popupCont{
    margin-top: 10px;
    padding-left: 700px;
    display: none;
}

#popupContWrong{
    margin-top: 10px;
    padding-left: 700px;
    display: none;
}
.popupWrong{
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    color: black;
}


.popup{
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    padding: 20px;
    color: black;
 }   